title_name = "50 Cent: Blood on the Sand" # BoTS
title_id = "5451083B" # TQ-2107
hash = "355BF86D7238F120" # default.xex
#media_id = "6FF4F789" # Disc (USA, Europe): http://redump.org/disc/14040

[[patch]]
    name = "Black Shading Fix"
    desc = "Effectively turns off MSAA, which solves most dynamic lighting artifacts caused by MSAA resolve imperfections."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x8256a998 # GUseTilingCode = FALSE, RHI
        value = 0x39200000
    [[patch.be32]]
        address = 0x8256abb8 # GUseTilingCode = FALSE, Renderer
        value = 0x39200000
    [[patch.be32]]
        address = 0x82bad7f4 # GIgnoreAllOcclusionQueries = TRUE
        value = 0x39600001

[[patch]]
    name = "RTV - Flickering Decals Fix"
    desc = "Fixes static decals (bullet-holes, bloodpools, etc) that cause z-fighting with RTV rendering. Not necessary when using ROV."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x82c2987c
        value = 0x4b9142c8
    [[patch.be32]]
        address = 0x8253db44
        value = 0x3c00bc23
    [[patch.be32]]
        address = 0x8253db48
        value = 0x6000d70a
    [[patch.be32]]
        address = 0x8253db4c
        value = 0x90010160
    [[patch.be32]]
        address = 0x8253db50
        value = 0xc0010160
    [[patch.be32]]
        address = 0x8253db54
        value = 0x486ebd2c0
    [[patch.be32]]
        address = 0x82cb7340
        value = 0x4b886560
    [[patch.be32]]
        address = 0x8253d8a0
        value = 0x3c00bc23
    [[patch.be32]]
        address = 0x8253d8a4
        value = 0x6000d70a
    [[patch.be32]]
        address = 0x8253d8a8
        value = 0x90010160
    [[patch.be32]]
        address = 0x8253d8ac
        value = 0xc0c10160
    [[patch.be32]]
        address = 0x8253d8b0
        value = 0x48779aa4

[[patch]]
    name = "Upscaling Fix - Disable Gaussian Blur"
    desc = "Forces the blur radius to 0, disabling Gaussian blur. Helps upscaling by reducing ghosting caused by blur sampling/resolves at higher internal resolutions."
    author = "boma"
    is_enabled = true

    [[patch.be32]]
        address = 0x82c9f860
        value = 0xec210828 # fsubs f1, f1, f1

[[patch]]
    name = "Disable Motion Blur"
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x8296359c
        value = 0x39600000
    [[patch.be32]]
        address = 0x82963f18
        value = 0x39600000

[[patch]]
    name = "16x Anisotropic Filtering"
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x825c6c84
        value = 0x38a00010

[[patch]]
    name = "21:9 Aspect Ratio Support"
    desc = "Must set present_letterbox = FALSE in the xenia canary config. Expands gameplay and cutscene rendering to true 21:9 ultrawide, updates the FOV axis constraint for proper framing, and adds pillarboxing for pre-rendered videos. HUD and UI elements will appear moderately stretched. Because the game now renders at 1280x550, certain elements may appear more aliased."
    author = "boma"
    is_enabled = false

    [[patch.be16]]
        address = 0x8256ac1a
        value = 0x0228
    [[patch.f32]]
        address = 0x82113724
        value = 2.3333
    [[patch.be16]]
        address = 0x825cdaf8
        value = 0x4800
    [[patch.be32]]
        address = 0x82f62df8
        value = 0x60000000
    [[patch.be32]]
        address = 0x82f62e3c
        value = 0x4b5daaf0
    [[patch.be32]]
        address = 0x8253d92c
        value = 0xec290232
    [[patch.be32]]
        address = 0x8253d930
        value = 0x3d603fa8
    [[patch.be32]]
        address = 0x8253d934
        value = 0x616b0000
    [[patch.be32]]
        address = 0x8253d938
        value = 0x91610050
    [[patch.be32]]
        address = 0x8253d93c
        value = 0xc0010050
    [[patch.be32]]
        address = 0x8253d940
        value = 0xec210032
    [[patch.be32]]
        address = 0x8253d944
        value = 0x48a254fc

[[patch]]
    name = "16:10 Aspect Ratio / Steam Deck Support"
    desc = "Must set present_letterbox = FALSE in the xenia canary config. Designed for Steam Deck and modern gaming laptop displays. Expands gameplay and cutscene rendering to true 16:10, updates the FOV axis constraint for proper framing, and adds pillarboxing for pre-rendered videos."
    author = "boma"
    is_enabled = false

    [[patch.be16]]
        address = 0x8256ac1e
        value = 0x0480
    [[patch.f32]]
        address = 0x82113724
        value = 1.6
    [[patch.be16]]
        address = 0x825cdaf8
        value = 0x4800
    [[patch.be32]]
        address = 0x82f62df8
        value = 0x60000000
    [[patch.be32]]
        address = 0x82f62e3c
        value = 0x4b5daaf0
    [[patch.be32]]
        address = 0x8253d92c
        value = 0xec290232
    [[patch.be32]]
        address = 0x8253d930
        value = 0x3d603f66
    [[patch.be32]]
        address = 0x8253d934
        value = 0x616b6666
    [[patch.be32]]
        address = 0x8253d938
        value = 0x91610050
    [[patch.be32]]
        address = 0x8253d93c
        value = 0xc0010050
    [[patch.be32]]
        address = 0x8253d940
        value = 0xec210032
    [[patch.be32]]
        address = 0x8253d944
        value = 0x48a254fc